
body{font-family: Arial; font-size:20px; background: url(images/FjeLbo3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}


.content{
    margin: 0 auto;
    display: block;
    padding: 20px;
    background-color: rgba(240, 255, 255, 0.74);
    width: 45%;
    position: relative;
    top: 200px;
    /* left: 50%; */
}
input{font-size: 95%;
height:30px;
border-radius: 10px;
border-color:green;
margin: 10px 5px 10px 5px;
padding:5px;}
input:hover{border-color: darkgreen;}

#submit{
    height: 39px;
    width: 154px;
}

button{height:30px;}

.missedElement{

    border: 2px red solid;

}